/* ? css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
} 
/*? css main */
html {
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    height: 100vh;
}
body {
    width: 100%;
    height: 100%;
}
.main-editor {
    max-width: 80%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.canvas {
    height: 60%;
    width: 100%;
    position: relative;
}
.canvas > .object:last-child {
    right: 0;
}
.timeline-section {
    width: 100%;
    max-height: 40%;
    background-color: #202224;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    overflow-x: auto;
}
.timeline-left {
    min-width: 25%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid #777c80;
}
.timeline-left-header {
    width: 100%;
    height: 2.01rem;
    padding: 0px 10px;
    border-bottom: 1px solid #777c80;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timeline-left-header i {
    color: #b7bbc0;
    cursor: pointer;
}
.timeline-right {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: auto;
    margin: 0 10px;
    position: relative;
}
.timeline-right-header {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: left;
    height: calc(2rem - 5px);
    width: 100%;
    padding-bottom: 5px;
}
.timeline-right::before {
    width:100%;
    height: 1px;
    left: 0;
    top: 2.05rem;
    content: "";
    position: sticky;
    background-color: #777c80;
}
.ms-line {
    min-width: 1.5px;
    height: 6px;
    background-color: #777c80;
    margin-right: 10px;
}
.s-line {
    min-width: 1.5px;
    height: 17px;
    background-color: #777c80;
    margin-right: 10px;
    position: relative;
}
.s-line-num {
    position: absolute;
    bottom: 8px;
    left: 5px;
    color: #777c80;
    font-size: .7rem;
    font-weight: bolder;
}

.left-side-line {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.left-side-line-ob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b7bbc0;
}
.right-side-line {
    height: 100%;
    position: relative !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    flex-direction: row;
}
.timeline-section > .line {
    width:100%;
    height: 1px;
    left: 0;
    content: "";
    position: absolute !important;
    background-color: #777c80;
}

.frame-line {
    background-color: #4f5660;
    height: 50%;
    top: 25%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    color: #fff;
    cursor: ew-resize;
    position: absolute;
    z-index: 2;
}
.frame-line:hover {
    background-color:#006dd2;
}
.moment-pointer {
    position:absolute;
    z-index: 205;
    width: 1px;
    height: 27vh;
    left: 331px;
    top: .75rem;
    animation-name: mymove;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-direction: normal;
    animation-timing-function:linear;
}
.moment-pointer-flag {
    font-size: .8rem;
    color: #fff;
    width: max-content;
    padding: 3px 10px;
    background-color: #0d0d0e;
    border: 1.5px solid #777c80;
    color: #fff;
}

.la-square {
    display: none;
}
.tm-section {
    width: 100%;
    background-color: #202224;
    max-height: 30vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
}
.tm-row {
    width: 100%;
    min-height: 2.5rem;
    border-bottom: 1px solid #4f5660;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all .3s;
    cursor: pointer;
    min-width: max-content;
}
.tm-left-col i {
    color: #b7bbc0;
    font-size: 1.1rem;
    cursor: pointer;
}
.left-side-line-ob > i {
    margin-right: 1rem;
    color: #006dd2;
}
.tm-right-col {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
}
#tm-rul {
    padding-bottom: 8px;
}
.tm-row:hover:not(#tm-controller) {
    background-color: #0d0d0e;
}  
.tm-row:hover .tm-left-col:not(#tm-controller > .tm-left-col) {
    background-color: #0d0d0e;
}
.tm-row:hover .left-side-line-ob {
    color: #fff;
}
.tm-row:hover .left-side-line-ob > i {
    color: #fff;
}
#tm-controller {
    cursor: default;
    background: #202224;
}
.mouse-pointer {
    background-color: #006dd2;
    position: fixed;
    z-index: 205;
    width: 1.5px;
    left: 500px;
    bottom: .5rem;
    display: none;
}
.mouse-pointer > * {
    background-color: #006dd2;
}
.wait-div {
    background-color: #4f5660;
    height: 50%;
    top: 25%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    color: #fff;
    cursor: ew-resize;
    transition: all .2s;
    position: absolute;
    z-index: 2;
    width: 70px;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .tm-section::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .tm-section::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  .tm-section::-webkit-scrollbar-thumb {
    background: #4f5660;
    border: 2px solid #202224;
    border-radius: 50px;
  }
  .tm-section::-webkit-scrollbar-thumb:hover {
    background: #e1e1e1;
  }
  .tm-section::-webkit-scrollbar-thumb:active {
    background: #4f5660;
  }
  .tm-section::-webkit-scrollbar-track {
    background: #202224;
    border: 0px solid #ffffff;
    border-radius: 0px;
  }
  .tm-section::-webkit-scrollbar-track:hover {
    background: #1f1f1f;
  }
  .tm-section::-webkit-scrollbar-track:active {
    background: #333333;
  }
  .tm-section::-webkit-scrollbar-corner {
    background: transparent;
  }
  #tm-rul {
    top: 0;
  }
  .tm-left-col {
    min-width: 300px;
    height: 100%;
    border-right: 1px solid #4f5660;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    left: 0;
    z-index: 206;
    background-color: #202224;
    transition: all .3s;
}
#tm-controller > .tm-left-col {
    left: 0;
    background-color: #202224 !important;
}
#tm-controller {
    z-index: 200;
}
.controller-cover {
    height: 2.5rem;
    width: 300px;
    position: absolute;
    z-index: 210;
    min-width: 300px;
    border-right: 1px solid #4f5660;
    border-bottom: 1px solid #4f5660;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;;
    left: 0;
    background-color: #202224;
    transition: all .3s;
}
.controller-cover i {
    color: #e1e1e1;
    font-size: 1.2rem;
    cursor: pointer;
}
.sort-row > .tm-left-col > .left-side-line-ob {
    padding-left: .75rem;
}
.outer-frame-line {
    background-color: #4f5660;
    height: 50%;
    top: 25%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    color: #fff;
    cursor: ew-resize;
    position: absolute;
    z-index: 2;
}
